<div class="container-fluid mt-5 about-style" id="aboutid">
        <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            <h2 class="text-center main-heading"> We can help you find the best hosting plans</h2>
            <div class="row">
              <div class="col-md-6 col-12 hero-text">
                <figure>
                  <img src="https://www.websolutions.com/Customer-Content/www/CMS/files/hosting_2.png" alt="plans_images" style="width:1;height:200px;">
                </figure>
              </div>
            
            <div class="col -md-6 col-12 hero-text d-flex justify-content-center align-items-start"
            <p style="cursive">Enjoy 99.9% uptime, faster page load times and simple 
              1-click installation of WordPress, Drupal, Joomla and more.
              We are dedicated to great customer and if you have any 
              problems with our we do have lenient customer refunds policy.
              Rated as the #1 Web Hosting Platform in North America</p>   
            <button class="btn-style tn-primary">Read More</button>
              </div>

              </div>
              
              </div>
              </div>
              

              
      </div>
  