<section>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2879.9258933450355!2d-79.35193538518203!3d43.795150751259136!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d31babbf5ce7%3A0x5812aa25d9fb9912!2sSeneca%20College%20Newnham%20Campus!5e0!3m2!1sen!2sca!4v1645390033448!5m2!1sen!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    
    
</section>