<section class="h-100 h-custom" style="background-color: green;"></section>
<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Services</h1>
            <p class="text-center sub-heading">Succeed with us </p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                    <div class="our-services basic">
                        <div class="icon">
                            <img src="https://images.brushespack.com/wp-media-folder-brushespack/wp-content/uploads/2021/02/brushespack-BRONZE-Membership-Plan-BrushesPack-47740.png" alt="" style="width:1;height:200px;">

                        </div>
                            <h4>Basic Plan</h4>
                            <h6>Limited Time ONLY!!!</h6>
                            <h5>Price: Free</h5>
                            <ul>
                                <li>Single Webiste</li>
                                <li>One-click Wordpress Installs</li>
                                <li>Free WordPress/cPanel website transfer</li>
                                <li>Unmetered bandwidth</li>
                                <li>Free SSL certificate</li>
                            </ul>
                            <button class="btn btn-primary" type="submit">Buy Now</button>
                        </div>

                    </div>
                </div>


                <div class="col-md-4">
                    <div class="box">
                    <div class="our-services advance">
                        <div class="icon">
                            <img src="https://www.dyslexiaconnect.com/wp-content/uploads/2018/04/Silver-Membership-1.png" alt=""style="width:1;height:200px;">
                        </div>
                            <h4>Advanced Plan</h4>
                            <h6>Limited Time ONLY!!!</h6>
                            <h5>$5.87/mo*</h5>
                            <ul>
                                <li>Unlimited Websites</li>
                                <li>One-click WorkdPress installs</li>
                                <li>Free WordPress/cPanel website transfer</li>
                                <li>Unmetered bandwidth</li>
                                <li>Free SSL certificate</li>
                                <li>Free Domain include</li>
                            </ul>
                            <button class="btn btn-primary" type="submit">Buy Now</button>
                        </div>

                    </div>
                </div>



                 <div class="col-md-4">
                    <div class="box">
                    <div class="our-services ultimate">
                        <div class="icon">
                            <img src="https://e7.pngegg.com/pngimages/410/808/png-clipart-silver-gold-business-product-organization-silver-emblem-label.png" alt=""style="width:1;height:200px;">
                        </div>
                            <h4>Ultimate/Business Plan</h4>
                            <h6>Limited Time ONLY!!!</h6>
                            <h5> $7.53/mo*</h5>
                            <ul>
                                <li>Unlimited Websites</li>
                                <li>One-click Wordpress Installs</li>
                                <li>Free WordPress/cPanel website transfer</li>
                                <li>Unmetered bandwidth</li>
                                <li>Free SSL certificate</li>
                                <li>Free dedicated IP</li>
                                <li>Free SEO tools</li>
                                <li>Free domain included</li>
                            </ul>
                            <button class="btn btn-primary" type="submit">Buy Now</button>
                        </div>

                    </div>
                </div>


                </div>
        </div>
    </div>
</div>
</section>